.card-header {
  background-color: white;
  border-bottom: 1px solid rgb(233,234,237);
  padding: 1.25rem 1.5rem;
}

.table {
  border-color: rgb(233,234,247);
  width: 100%;
}

tr, thead {
  border: 0 solid;
  border-color: inherit;

}

thead {
  vertical-align: bottom;
}

.table th {
  font-weight: 380;
  color: rgb(103,111,126);
}

.table>:not(caption)>*>* {
  background-color: white;
  padding: 0.8rem 1.5rem;
}

td {
  color: black;
  font-weight: bold;
  font-size: 15px;
}

.diario-content {
  font-size: 13px;
  max-width: 300px;
  display: -webkit-box;
  -webkit-line-clamp: 5;        
  -webkit-box-orient: vertical;
  overflow: hidden;
  white-space: normal;
  word-break: break-word;
}

.btn-pdf {
  background-color: transparent;  
  color: var(--brand-primary);               
  border: 1.5px solid var(--brand-primary);               
  padding: 4px 10px;         
  font-size: 14px;            
  border-radius: 5px;         
  cursor: pointer;           
  transition: background-color 0.3s ease;  
}

.btn-pdf:hover {
  background-color: var(--brand-primary);
  color: white;  
}


#searchContainer {
  width: 100%; 
  max-width: 800px; 
  margin: 0 auto; 
}

#searchInput {
  flex-grow: 1; 
  height: 40px;
  font-size: 16px;
}

#sortOptions {
  display: flex;
  align-items: center;
  gap: 10px; 
  font-size: 12px;
  color: gray;
  margin-top: 5px;
}

#sort-by, #sort-order {
  width: 120px; 
  font-size: 12px;
}

.form-control:focus {
  box-shadow: 0 0 0 0.2rem rgba(65, 185, 163, 0.25);
  border-color: var(--brand-primary);
}

.form-select:focus {
  box-shadow: 0 0 0 0.2rem rgba(65, 185, 163, 0.25);
  border-color: var(--brand-primary);
}