body {
  font-family: "Inter", sans-serif;
}

.form-label {
  font-weight: 380;
}

.bg-image-vertical {
  position: relative;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: right center;
  background-size: auto 100%;
  }
  
  @media (min-width: 1025px) {
  .h-custom-2 {
  height: 100%;
  }
  }

  .form-control:focus {
  box-shadow: 0 0 0 0.2rem rgba(65, 185, 163, 0.25);
  border-color: #40bec0;
  }


