{% extends 'ward_data_app/base.html' %} 
{% load static %}

{% block title %}Patient Information{% endblock %}

{% block extra_head %}
    <link href="{% static 'css/info-patients.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="container-fluid p-4">
        <h1>Patient Information</h1>

        <div class="d-flex align-items-center mb-4">
            <input type="text" id="search-input" class="form-control" placeholder="Search by ID or Name">
            <button id="search-btn" class="btn btn-search m-2">Search</button> 
        </div>

        <div class="card mb-6 mb-xxl-0" id="patientInfo">
            </div>
            
    </div> 
{% endblock %}

{% block extra_js %}
    <script src="{% static 'js/info-patients.js' %}"></script>
{% endblock %}